.cell-list-con {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.cell-list-item {
    position: relative;
    margin-bottom: 2rem;
}

/* EDITOR */

.editor-con {
    position: relative;
    height: 100%;
    width: 100%;
    width: calc(100% - 10px);
}

.editor-con .btn-custom {
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s;
}

.editor-con:hover .btn-custom {
    opacity: 1;
}

/* IFRAME PREVIEW */

.preview-wrapper {
    position: relative;
    height: 100%;
    flex-grow: 1;
}

.preview-wrapper iframe {
    height: 100%;
    width: 100%;
    background-color: white;
    border: none;
    border-right: solid 2px #37414b;
    ;
}

.preview-error {
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
}

/* RESIZE */

.react-draggable-transparent-selection .preview-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.react-resizable-handle {
    display: block;
    background-color: #37414b;
    background-repeat: no-repeat;
    background-position: 50%;
}

.react-resizable-handle-s {
    height: 15px;
    width: 100%;
    cursor: row-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.react-resizable-handle-e {
    width: 15px;
    height: 100%;
    cursor: col-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.resize-horizontal {
    display: flex;
    flex-direction: row;
}

.margin-view-overlays {
    border-left: 2px solid #37414b;
}

/* CELL BAR */

.cell-bar-btns {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.cell-bar-con {
    height: 2rem;
    width: 100%;
    background-color: #37414b;
    display: flex;
    align-items: center;
}

/* NAV */

nav {
    z-index: 10;
    position: fixed;
    padding: 5px;
    width: 100%;
    background: rgb(0 0 0 / 70%);
}

.nav-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.loader-con {
    height: 100%;
    flex-grow: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* FADE */

.animate-center {
    position: relative;
    -webkit-animation-name: animate-center;
    -webkit-animation-duration: 1.0s;
    animation-name: animate-center;
    animation-duration: 1.0s
}

@keyframes animate-center {
    from {
        bottom: -0px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

/* MOADL  */

.modal-con {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 70%;
    max-height: 30rem;
    border-radius: 2px;
    background-color: var(--background-color);
    overflow-y: auto;
}

.modal-header {
    border-bottom: 1px solid rgb(179, 179, 179);
}

.modal-wrapper .modal-body {
    background-color: var(--background-color);
    height: 70%;
    overflow-y: auto;
}